/* Colors */
$main: #028090;
$dark-main: #1A5E63;
//$main: #223a3a;
$secondary: #00BFB2;
$default-gray: #b2b2b2;
$accent: #69f0ae;

/* Styles */
$shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
